.dd-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  left: 0;
  top: 0;
}
.dd-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
  .dd-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    line-height: 38px;
    cursor: pointer;
    .dd-header-title {
      margin: 0.1em 1em;
      font-weight: 300;
    }
  }
  .dd-list {
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
    max-height: 215px;
    border: 1px solid rgb(223, 223, 223);
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 5px -1px rgb(232, 232, 232);
    background-color: white;
    font-weight: 700;
    -webkit-overflow-scrolling: touch;
    .dd-scroll-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-y: scroll;
      max-height: 215px;
      padding: 15px 0;
      .dd-list-item {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        padding: 0.5em 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: 1px solid white;
        background-color: white;
        text-align: left;
        cursor: default;
        cursor: pointer;
      }
    }
  }
}
