@import "../../../../styles/theme.scss";
.csv-download {
  width: 100%;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .csv-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7em;
    text-align: left;
    .csv-option-label {
      margin: 1em;
    }
    .day-option {
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 2;
    }
    .driver-option {
      display: flex;
      flex-direction: column;
      z-index: 1;
    }
  }

  .csv-download-btn {
    width: 100%;
    color: $header-font-colour;
    text-decoration: none;
    height: 3em;
  }
}
