.task-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 2em 2em;
  .action-wrapper {
    display: flex;
    width: 15%;
    align-self: flex-end;
    justify-content: space-between;
    svg {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .task-name {
    font-size: 1.3rem;
  }
  .task-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0;
    &.no-icon {
      margin-left: 10%;
    }
    svg {
      width: 10%;
    }
  }
}
