.day-column {
  min-width: 6em;
  width: 13%;
  .day-header {
    min-height: 2em;
    padding: 0 1em;
    text-align: center;
    line-height: 2em;
  }
  .notch {
    height: 0.75em;
    border-left: #dadce0 1px solid;
  }
  .day-block {
    position: relative;
    height: 3em * 24;
    .hour-blocks {
      width: 100%;
      height: 100%;
    }
    .task-block {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
