@import "../../../styles/btn.scss";

.calendar-sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5em 0;
  height: 10em;
  .new-task-btn-wrapper {
    font-size: 0.8em;
    width: 10em;
    height: 4em;
    .new-task-btn {
      background: linear-gradient(to right, #69ff97 10%, #00e4ff 100%) left
        bottom no-repeat;
      background-size: 100% 5px;
    }
  }
  .driver-selection-wrapper {
    width: 70%;
  }
}
