.calendar {
  display: grid;
  grid-template-columns: minmax(400px, 20%) 1fr;
  margin: 1em 0;
  color: #3c4043;
  .calendar-sidebar {
    grid-column: 1;
    padding-left: 10%;
  }
  .calendar-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #70757a;
    grid-column: 2;
    .calendar-main-body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: row;
    }
  }
}
