.calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em;
  color: #70757a;
  .calendar-main {
    .calendar-main-body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: row;
    }
  }
}
