.task {
  position: absolute;
  width: 90%;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  div {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 70%;
  }
  &:hover {
    z-index: 50;
  }
}
