@import "../../../../styles//theme.scss";
.create-modal-content-wrapper {
  display: flex;
  flex-direction: column;
  .form-modal-error {
    font-size: 0.8rem;
    color: #ff3b3b;
    height: 0.8em;
    text-align: left;
    margin-top: 0.4em;
    &.outer {
      margin-left: 12%;
    }
  }
  .create-modal-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5em;
    margin: 1em 0 1em 12%;
    width: 85%;
    .task-name-input-wrapper {
      width: 60%;

      margin-right: 0em;
    }
    .task-type-dd-wrapper {
      width: 35%;
      height: 100%;
    }
    &.description {
      height: 5em;
    }
  }

  .create-modal-icon {
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0;
    &.twos {
      & > div {
        width: 40%;
        margin-right: 1em;
        margin-left: 2%;
      }
      svg {
        width: 10%;
      }
    }
    &.fours {
      & > div {
        width: 20%;
        margin: 2%;
      }
      svg {
        width: 10%;
      }
    }
  }
  .save-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .save-btn {
      width: 30%;
      color: #fafafa;
      background-color: #1a73e8;
      &:hover {
        background-color: #2382ff;
      }
    }
  }
  .conflicted-options-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    & > * {
      color: #fafafa;
      width: 80%;
    }
    .override-btn {
      background-color: #d15353;
      margin: 0.5em 0;
    }
    .gentle-btn {
      background-color: #535da8;
    }
    .cancel-btn {
      background-color: #fafafa;
      color: gray;
      border: 1px $border-grey solid;
    }
  }
}
