.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  .calendar-header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin: 1em;
    width: 30%;
    .calendar-week-btns {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .calendar-week-btn {
        margin: 0 1em;
      }
    }
  }
  .calendar-header-right {
    margin: 1em;
    input {
      margin: 0 1em;
      width: 4em;
    }
  }
}